<section>
  <nav>
    <h3>SOBRE NÓS</h3>
    <ul>
      <li><a routerLink="/about" rel="internal">História</a></li>
      <li><a routerLink="/about" rel="internal">Trabalhe conosco</a></li>
      <li><a routerLink="/about" rel="internal">Fale conosco</a></li>
    </ul>
  </nav>
  <nav>
    <h3>NOSSAS POLÍTICAS</h3>
    <ul>
      <li>
        <a routerLink="/policies" rel="internal">Políticas de troca</a>
      </li>
      <li>
        <a routerLink="/policies" rel="internal">Políticas de privacidade</a>
      </li>
      <li>
        <a routerLink="/policies" rel="internal">Políticas pagamento</a>
      </li>
      <li>
        <a routerLink="/policies" rel="internal">Políticas de cookies</a>
      </li>
      <li>
        <a routerLink="/policies" rel="internal">Políticas de frete</a>
      </li>
    </ul>
  </nav>
  <nav>
    <h3>REDES SOCIAIS</h3>
    <ul>
      <li>
        <a href="https://wa.me/5511972755168" target="_blank" rel="external"
          ><i class="bi bi-whatsapp"></i>Whatsapp</a
        >
      </li>
      <li>
        <a href="#" target="_blank" rel="external"
          ><i class="bi bi-instagram"></i>Instagram</a
        >
      </li>
      <li>
        <a href="#" target="_blank" rel="external"
          ><i class="bi bi-youtube"></i>Youtube</a
        >
      </li>
      <li>
        <a routerLink="/blog" rel="internal"
          ><i class="bi bi-substack"></i>Blog informativo</a
        >
      </li>
    </ul>
  </nav>
  <nav>
    <h3>CONTATO</h3>
    <ul>
      <li>
        <a href="#">Rua Carlos de Carvalho Ferraz de Vasconcelos, 08545-120</a>
      </li>
      <li>
        <a href="#"
          ><i class="bi bi-envelope-fill"></i>contato&#64;mopo.com.br</a
        >
      </li>
    </ul>
  </nav>
</section>
