main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section,
main picture {
  flex: 1;
}

main picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 1rem;
  margin: 0 auto;
}

form label {
  align-self: flex-start;
}

form input,
form button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #d9d9d9;
}

input::placeholder {
  padding-left: 1rem;
}

main section nav {
  width: 75%;
  margin: auto;
  text-align: center;
}

main section nav a {
  padding: 0 1rem;
}

img {
  width: 50%;
}