<header>
  <h1>MOPO</h1>
  <nav>
    <a class="item" routerLink="/home" rel="internal">Home</a>
    <a class="item" routerLink="/revenues" rel="internal">Revenues</a>
    <a class="item" routerLink="/about" rel="internal">About Us</a>
  </nav>

  <section>
    <label class="theme-switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>
    <div class="language-selector">
      <button class="language-selected">
        <span>BR</span>
        <span class="arrow-down"></span>
      </button>
      <div class="language-options">
        <a href="#" class="language-option" data-lang="pt-br">
          <span>PT-BR</span>
        </a>
        <a href="#" class="language-option" data-lang="en-us">
          <span>EN-US</span>
        </a>
      </div>
    </div>

    <nav>
      <a class="icon" routerLink="/store" rel="internal"><i>Store</i></a>
      <a class="icon" routerLink="/signin" rel="internal"><i>Profile</i></a>
    </nav>
  </section>
</header>
