header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--yellow);
  color: var(--white);
}

header nav,
header section,
header h1 {
  flex: 1;
}

header nav,
header section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header nav .item {
  background-color: var(--white);
  color: var(--black);
  padding: 1rem;
  border-radius: var(--radius);
}

header section nav {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: fit-content;
}
