.revenue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  aspect-ratio: 2/3;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: var(--radius);
  background-color: var(--cor-fundo-produto);
  text-align: center;

  img,
  div {
    flex: 1;
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--radius);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 0.5rem;
      width: 100%;
    }

    .item {
      padding: 5px;
      text-align: center;
    }

    a {
      width: 90%;
      margin: 0 auto;
      padding: 1rem;
      border-radius: var(--radius);

      background-color: var(--green);
      color: var(--white);
    }
  }
}
