<nav>
  <div class="menu">
    <a href="#" rel="internal">Verduras</a>
    <a href="#" rel="internal">Frutas</a>
    <a href="#" rel="internal">Leguminosas</a>
    <a href="#" rel="internal">Tubérculos</a>
    <a href="#" rel="internal">Grãos</a>
    <a href="#" rel="internal">Cereais</a>
    <a href="#" rel="internal">Vitaminas</a>
    <a href="#" rel="internal">Sementes</a>
    <a href="#" rel="internal">Oleos</a>
  </div>
</nav>
<main>
  <div>
    <img src="images/banner.png" class="banner" alt="Imagem da home" />
  </div>
  <h2>MAIS VENDIDOS!</h2>

  <div class="colunas_produtos">
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 1" />
      <p>Amendoim s/pele s/sal - 500g</p>
      <p><del>R$12,00</del> R$9,25</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 2" />
      <p>Castanha do pará - 100g</p>
      <p><del>R$20,00</del> R$18,50</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 3" />
      <p>Aveia em flocos - 500g</p>
      <p><del>R$5,90</del> R$4,50</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 4" />
      <p>Tâmaras s/caroço - 100g</p>
      <p><del>R$4,50</del> R$3,00</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 1" />
      <p>Amendoim s/pele s/sal - 500g</p>
      <p><del>R$12,00</del> R$9,25</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 2" />
      <p>Amendoim s/pele s/sal - 500g</p>
      <p><del>R$12,00</del> R$9,25</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 3" />
      <p>Amendoim s/pele s/sal - 500g</p>
      <p><del>R$12,00</del> R$9,25</p>
      <a class="see_more" href="#">See more</a>
    </div>
    <div class="produto">
      <img class="img_produto" src="https://placehold.co/100" alt="Imagem 4" />
      <p>Amendoim s/pele s/sal - 500g</p>
      <p><del>R$12,00</del> R$9,25</p>
      <a class="see_more" href="#">See more</a>
    </div>
  </div>
</main>
